@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --text: #151415;
    --background: #eeedee;
    --primary: #454347;
    --secondary: #dbdadc;
    --accent: #767279;
  }
  .dark {
    --text: #ebeaeb;
    --background: #121112;
    --primary: #bab8bc;
    --secondary: #242325;
    --accent: #8a868d;
  }
}, */

.bg-primary {
  @apply bg-neutral-950;
}

.text-primary {
  @apply text-neutral-200;
}

.border-primary {
  @apply border-neutral-200;
}

.bg-secondary {
  @apply bg-neutral-900;
}

.bg-accent {
  @apply bg-red-700;
}

.text-accent {
  @apply text-red-700;
}

.border-accent {
  @apply border-red-700;
}

.bg-special {
  @apply bg-indigo-900;
}

.text-special {
  @apply text-indigo-300;
}

.card {
  @apply bg-secondary p-4;
}

body {
  @apply bg-primary text-primary font-body;
}

input,
select,
option {
  @apply bg-primary px-1 text-center text-sm;
}

@layer utilities {
  .h-100dvh {
    height: 100vh; /* fallback for Opera, IE, etc. */
    height: 100dvh;
  }
}

.button-radio-input {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Webkit-based browsers eg. Chrome, Safari, Opera... */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
